* {
    padding: 0;
    margin: 0;
    font-family: AdwaitaMonoNerdFont, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: #000000;
}

#workspaces button {
    border-radius: 0;
    transition: none;
    padding: 0 10px;
}

#workspaces button:hover {
    border-color: transparent;
    background: rgba(255, 255, 255, 0.1);
}

.module,
#tray>* {
    background-color: transparent;
    padding: 0 10px;
}

#tray menu {
    background-color: #000000;
    padding: 10px;
}

#tray menu>* {
    padding: 5px;
    border-radius: 3px;
}

#tray menu>*:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#idle_inhibitor,
#custom-poweroff,
#custom-suspend {
    padding-right: 13px;
}

.module:not(#workspaces):not(#tray):hover,
#tray>*:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.module.warning {
    background-color: #d9881e;
}

.module.critical {
    background-color: #e61705;
}
