set atblanks
set cutfromcursor
set softwrap
set linenumbers
set tabstospaces
set tabsize 4
set constantshow
set positionlog
set zap
set autoindent
set minibar
set nohelp
set mouse

set titlecolor gray,normal
set numbercolor gray,normal

bind ^Q exit main
bind ^C copy main
bind ^V paste all
bind ^F whereis all
bind ^S savefile main
bind ^Z undo main
bind ^Y redo main
